/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* equivalente a 10px */
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: rgb(180, 38, 38);
}

h1 {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(90.04deg, #e76b83 .02%, #7484ed 55.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-family: Rubik, Rubik-Medium;
    font-weight: 500;
    letter-spacing: -1.3999999762px;
    line-height: 72px;
    font-size: 64px;
}

h1 {
    border: 1px solid rgb(20, 200, 255);
    padding: .4rem 15%;
    border-radius: 3rem;
}

h4 {
    text-align: center;
    font-family: Poppins, Poppins-Regular;
    font-size: 30px;
}

form {
    background: #eee;
    padding: 10px;
}

form div {
    background: #fff;
    border-bottom: 1px solid #33f;
    margin: 1rem;
    padding: 2rem;
}

label {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #66F;
}

input {
    padding: 1rem;
}

[type="text"],
[type="email"],
textarea,
label {
    display: block;
    width: 100%;
}

header {
    background-color: #333;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

nav {
    /* background-color: tomato; */
    float: left;
    /* muda a regra de quebra de linha */
    width: 30%;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    /* background-color: yellow; */
    float: left;
    padding: 20px;
    width: 70%;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    color: white;
}

.map {
    display: block;
    width: 20%;
    float: left;
}

.coluna {
    display: block;
    width: 50%;
    float: center;
    padding: 5px;
    /* background: #eee;
  border: 1px solid #333; */
}

.coluna-3 {
    text-align: center;
    font-family: Poppins, Poppins-Regular;
    font-size: 20px;
}

.coluna-100w {
    width: 100%;
}

iframe {
    width: 100%;
}

.navegacao a {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top {
    font-family: Rubik, Rubik-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    margin: 10px 0 0 12px;
}

.top {
    text-align: center;
    font-family: Rubik, Rubik-Medium;
    font-weight: 500;
    letter-spacing: -.400000006px;
    line-height: 34px;
    font-size: 24px;
    color: #22053d;
    color: #10001f;
    padding: 19px 31px;
    border-radius: 40px;
    text-decoration: none;
    margin: 28px 0px 0 398px;
    position: relative;
    transition: all .3s ease-in-out;
    background: linear-gradient(90.04deg, #e76b83 .02%, #7484ed 55.64%);
}

.h1 {
    float: left;
}


/* Mobile First */


/* Tablet */

@media (min-width: 769px) {}

@media (max-width: 768px) {}


/* Smartphone */

@media (max-width: 425px) {
    nav,
    article,
    .coluna {
        width: 100%;
        min-width: 320px;
    }
}